// BREAKPOINTS
$notebook: 1024px;
$ipad: 995px;
$phone: 767px;
$iphone: 540px;
$small-iphone: 320px;


//COLORCODE 
$primaryColor: rgb(250, 204, 0);
$secondaryColor: #333B50;
$shadow: rgba(0,0,0,0.5);
$white: #FFF;
$black: #000;
$transperentWhite: rgba(255,255,255,0.5);
$transperentSecondaryColor: rgba(51,59,80,0.5);
$greenyellow: greenyellow;
$red: red;
$hot: #F39511;
$sunny: #34B4B2;
$danger: #020d24;
