.result {
    padding: 50px 0;
    display: none;

    &.active { display: block; }

    li { 
        margin-bottom: 10px;
        display: block;
        border-radius: 10px;
        @include boxsizing();
        overflow: hidden;
    }

    span { 
        padding: 0 0 5px;
        display: block;
        @include textcharacteristics($secondaryColor, 14px, 700, uppercase);        
    }

    .todays-data {
        padding: 20px 0 20px 40px ;
        @include flex(wrap, row, space-between, center, center);
        @include boxsizing();

        @include breakpoint(phone) {
            padding: 20px 40px;
            flex-direction: column;

            span { 
                padding-bottom: 10px;
                text-align: center;
            }
        }
    }

    h3 {
        padding: 0 0 5px;
        @include textcharacteristics($white, 24px, 800, uppercase);
        text-shadow: 5px 10px 10px $shadow;

        @include breakpoint(notebook) {
            padding-bottom: 20px;
        }
    }

    figure { 
        width: 60px;
        margin: 0 auto;
    }

    .temperature {
        width: 100px;
        height: 100px;
        padding: 10px 30px 10px 50px;
        border-bottom-left-radius: 80px;
        border-top-left-radius: 80px;
        background-color: transparentize($white, 0.75);
        cursor: pointer;
        @include vendor(transform, translateX(20px));
        @include vendor(transition, 0.3s ease-in-out);

        span { 
            @include textcharacteristics($secondaryColor, 20px, 800, uppercase);
            text-align: center;
        }

        &:hover {
            @include vendor(transform, translateX(0));
        }

        @include breakpoint(phone) {
            width: 100%;
            border-radius: 0;
            @include vendor(transform, translateX(0));
        }
    }

    a { display: none; }

    .forecast-data {
        padding: 30px 0 10px;
        border-top: 3px solid transparentize($white, 0.75);
        display: none;

        li {
            width: 80%;
            padding: 0 20px;
            margin: 0 auto 10px; 
            @include flex(wrap, row, space-between, center, center);
            background-color: transparentize($white, 0.75);
            @include boxsizing();

            @include breakpoint(notebook) {
                width: 95%;
                padding: 20px;
                flex-direction: column;
            }
        }

        &.active { display: block; }
    }

    .forecasted-temperature {
        padding-right: 20px;

        figure,
        span {
            display: inline-block;
        }
    }

    .forecasted-weather {
        span {
            padding: 2px 10px 0;
            display: inline-block;

            &:first-child {
                border-right: 2px solid $secondaryColor;
            }

            @include breakpoint(iphone) {
                padding: 3px;
                display: block;
                text-align: center;
                
                &:first-child {
                    margin-bottom: 15px;
                    border-right: none;
                    border-bottom: 2px solid $secondaryColor;
                }
            }
        }
    }

    .hot { background-color: $hot; } 
    .sunny { background-color: $sunny; } 
    .danger { 
        background-color: $danger;

        span {
            color: $white;
        }
    } 

    .hot-error {
        background-color: $hot;
        padding: 5px 20px;
    }
}